$color-main: #13253d;
$color-text: #fdfdfb;
$color-light-blue:#70ebe8;
$color-blue: #3bb2c4de;
$color-dark-blue: #527eae;
$color-darkest-blue:#375a87;
$color-gray: #7c8db0;
$color-dark-gray: #6e7491;
$color-border: #dee2e6;
$color-white: #fafafa;

$jura: "Jura", "Arial", sans-serif;
$damione: "DaMiOne", "Arial", sans-serif;